@echo off
set sqlserver_host={vDBHost}\{vDBName}
set work_dir={vWorkDir}


rem ------------------------------ [sql stmt] -------------------------------

set sql_stmt=select {vTabFields}                             ^
             from   {vSchema}.[{vTab}]

rem -------------------------------------------------------------------------
rem
rem                          Run Extract
rem
rem -------------------------------------------------------------------------

bcp "%sql_stmt%" queryout  %work_dir%\{vTab}.csv -t "|" -T -c -d %sqlserver_db%
if %ERRORLEVEL% NEQ 0 goto :run_sqlcmd_ERROR

rem --------------------------------------------------------------------------
rem
rem                           SQL CMD ERRORS
rem
rem --------------------------------------------------------------------------


:run_sqlcmd_ERROR
  echo ERROR: An error has been raised during the sqlcmd execution for {vTab}
  goto :EOF

rem --------------------------------------------------------------------------
rem ---------------------------------- eof -----------------------------------
rem --------------------------------------------------------------------------
